################################################################################
# RocketChat configuration
################################################################################

# RocketChat version
ROCKET_CHAT_RELEASE=5.4.8

# MongoDB >= 5.x requires AVX
# MongoDB version
MONGODB_RELEASE=4.4.9

#MONGODB_ENABLE_JOURNAL=
#MONGODB_ALLOW_EMPTY_PASSWORD=



################################################################################
# Node web app configuration
################################################################################

#  path where location of Node application
NODE_APP_HOST_DIR=/home/hust/antentafm/website

# path to directory where streams shall be recorded and saved
RECORDINGS_DIR=/home/hust/antentafm/recordings

#NPM_SKIP_START=1



################################################################################
# Icecast2 Configuration
################################################################################

# path to configuation file
ICECAST_CONFIG_FILE=/home/hust/antentafm/icecast.xml



################################################################################
# Traefik configuration
################################################################################

# RocketChat version
TRAEFIK_RELEASE=v2.9.10

# email used for letsencrypt certificate registration
ACME_EMAIL=
# path to directory where letsencryp certifactes shall be stored
ACME_DATA_DIR=

# used http port
HTTP_PORT=80
# used https port
HTTPS_PORT=443



################################################################################
# Docker configuration
################################################################################

# Docker restart policy
DOCKER_RESTART_POLICY=on-failure
