ROCKET_CHAT_RELEASE=5.4.5

# MongoDB >= 5.x requires AVX 
MONGODB_RELEASE=4.4.9
#MONGODB_ENABLE_JOURNAL=
#MONGODB_ALLOW_EMPTY_PASSWORD=

NODE_APP_HOST_DIR=/home/hust/antentafm/website/frontend

#NPM_SKIP_START=1

ICECAST_CONFIG_FILE=/home/hust/antentafm/icecast.xml